* {
    box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
    padding: 0;
}

body {
    background-color: #311e25;
    color: #ffebcd;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3em;
    text-align: center;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

p, span {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    font-weight: normal;
}

.time-box {
    background-color: #ffebcd;
    width: 80px;
    height: 80px;
    margin: 0 5px;
    font-size: 1em;
}

.time-box p:first-of-type {
    font-size: 3em;
    font-weight: 900;
    color: rgb(247, 116, 8);
}

.photo-container {
    min-height: 200px;
    min-width: 250px;
    max-height: 300px;
    max-width: 500px;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    background-image: url('/images/images.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.meal {
    font-size: 1.5em;
}

.greeting {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #3a0d0db7;
}

.bg-brown {
    background-color: #3a0d0d;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container, .w-100 {
    width: 100%;
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.j-center {
    justify-content: center;
}

.j-space-around {
    justify-content: space-around;
}

.ali-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.t-center {
    text-align: center;
}

.j-between {
    justify-content: space-between;
}

button, .btn {
    border-style: none;
    padding: 10px 15px;
    margin: 10px;
    color: gold;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid gold;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

button:hover, .btn:hover {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
}

button:active, .btn:active {
    color: #3a0d0d;
    font-weight: bold;
    background-color: #ffebcd;
    border: 2px solid white;
}

#submit {
    border-style: none;
    padding: 10px 15px;
    margin: 10px;
    color: white;
    font-weight: bold;
    background-color: green;
    border: 2px solid green;
    cursor: pointer;
    width: 80px;
}

.m-bottom {
    margin-bottom: 10px;
}

span {
    padding: 0 10px;
}

input[type='text'], input[type='number'], select {
    padding: 5px 10px;
    font-weight: bold;
    font-size: 1em;
    background-color: honeydew;
    display: block;
    margin-bottom: 20px;
    border-style: none;
    width: 100%;
}

label {
    text-transform: capitalize;
    display: block;
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
}

.formdiv {
    width: 100%;
}

.form {
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    display: none;
}

.form, #submit {
    /* display: none; */
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border-collapse: collapse;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid white;
    width: auto;
    text-transform: capitalize;
}

table {
    width: 90%;
    max-width: 500px;
    margin-bottom: 20px;
}

h3 {
    margin: 10px 0;
}

#current-time {
    text-transform: lowercase;
}
footer nav{
    background-color: #00000050;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
  footer p{
      margin: 5px auto;
  }
  i{
    width: 20px;
    color: white;
   
  }
  a{
    margin: auto 10px;
  }
hr{
    margin: 0;
    padding: 0;
}
.nopadding{
    padding-left: 0;
}
@media screen and (min-width: 700px) {
    table, .form, .clock-container {
        max-width: 500px;
    }
    .clock-container {
        max-width: 500px;
    }
    .time-box {
        background-color: #ffebcd;
        width: 100px;
        height: 100px;
        margin: 0 10px;
        /* border-radius: 20px; */
        font-size: 1em;
    }
}
